<div class="text-center">
    <h1>Escuela de Magia de Ilvermorny</h1>
</div>
<br>
<div class="text-center">
    <%=image_tag 'ilvermorny.png', size: "300x300"%>
</div>
<br>
<div>
    <p>El Colegio Ilvermorny de Magia y Hechicería es la escuela mágica de Estados Unidos de América, localizada al noreste del país. Es uno de los colegios mágicos más importantes del mundo. Fundada entre 1620 y 1634 por la bruja Isolt Sayre y el muggle James Steward; el colegio tiene fama de ser una de las instituciones más democráticas y menos elitistas de todas las grandes escuelas de magia. <br>
      Sus alumnos se dividen en distintas casas, así como en Colegio Hogwarts de Magia y Hechicería. <br> <br>
      Ilvermorny fue fundada durante el siglo XVII, por la bruja irlandesa Isolt Sayre y el muggle James Steward en su propia casa, empezando dando clases únicamente a sus dos hijos adoptivos. Pero con el paso del tiempo irían admitiendo a más estudiantes. <br> <br>
      Prácticamente todas las ideas que la familia tenía sobre cómo debía de ser un colegio de magia se basaban en Hogwarts, así que se empeñaron en que Ilvermorny tuviera cuatro casas. Enseguida abandonaron la idea de ponerle sus nombres, como fundadores, y optaron por elegir cada uno su criatura mágica favorita. Chadwick, el hijo mayor, un chico inteligente aunque algo temperamental, eligió el ave del trueno, un pájaro que puede generar una tormenta con solo volar. El hijo menor, obstinado pero leal Webster optó por el Gato Wampus, un felino mágico de aspecto similar a una pantera, rápido, fuerte y prácticamente imposible de matar. Para Isolt se trataba de la serpiente cornuda que había conocido en el lago cercano. El único muggle de la familia, James Steward, no era capaz de identificarse con las criaturas mágicas. Finalmente, eligió al Pukwudgie porque las anécdotas que su mujer le había contado de su viejo amigo William siempre le hacían reír. El uniforme de Ilvermorny es azul y rojo arándano. El primer color era el favorito de Isolt, y además es el color principal de la casa Ravenclaw de Hogwarts, a la cual la bruja desearía haber pertenecido. El segundo color era en honor al dulce favorito de James, la tarta de arándanos. </p>
</div>
<br>
<br>
<div>
    <div class="text-center">
        <h3>Casas</h3>
    </div>
    
    <br>
    <br>

    <table class="table table-dark table-bordered border-secondary">
        <thead>
          <tr>
            <th class="text-center text-warning" scope="col">Escudo</th>
            <th class="text-center text-warning" scope="col">Nombre de la Casa</th>
            <th class="text-center text-warning" scope="col">Alumnos Conocidos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= image_tag 'thunderbird.png', size: "200x150"%></th>
            <td class="text-center text-warning">Thunderbird</td>
            <td class="text-center text-warning"><ul>
                   <li>Chadwick Boot, fundador de la casa.</li>
                   <li>Porpentina Goldstein, auror del MACUSA.</li> 
                </ul>
             </td>
          <tr>
            <th scope="row"><%= image_tag 'wampus.png', size: "200x150"%></th>
            <td class="text-center text-warning">Wampus</td>
            <td class="text-center text-warning"><ul>
                   <li>Webster Boot, quien fundó la casa.</li>
                  </ul>
            </td>
          <tr>
            <th scope="row"><%= image_tag 'serpiente.png', size: "180x150"%></th>
            <td class="text-center text-warning">Horned Serpent</td>
            <td class="text-center text-warning"><ul>
                   <li>Isolt Sayre, fundadora de la casa.</li>
                   <li>Seraphina Picquery, presidenta del MACUSA en 1926.</li> 
                </ul>
            </td>
          <tr>
            <th scope="row"><%= image_tag 'pukwudgie.png', size: "180x150"%></th>
            <td class="text-center text-warning">Pukwudgie</td>
            <td class="text-center text-warning"><ul>
                   <li>James Steward, un muggle, fundador de la casa.</li>
                   <li> Queenie Goldstein, una legeremante, hermana de Tina Goldstein.</li>  
                </ul>
            </td>
        </tbody>
    </table>
</div>